body{
   font-family: sans-serif;
    font-size: 100%;
}
h1{
    font-size:200%;
    font-style: italic;
    color: orange;
    text-shadow: 2px 1px 2px black;
}

h2:first-letter{
    font-size:150%;    
}

h{
    font-size:bold;
    font-size:150%;
}

li{
    margin: 0 0 7px 0;
}

li a{
    font-weight:bold;
    color: orange;
}

li a:hover{
    color:green;
}

img{
    float: left;
    margin-right: 1em;
}

footer p{
    text-align: center;
    font-size:80%;
}
