
body {
    font-family: sans-serif;
     background-image: url(bats.gif)    
}
#container{
    width: 800px;
    margin-left:auto;
    margin-right:auto;
    border: 5px solid black;
    padding: 0px;
    background-color: white;
    box-shadow: 4px 4px 4px 4px;    
}
.header{
    border-style: solid;
    background-image: linear-gradient(45deg, white, orange,black);
    
}
.header img{
    float:left;
    height: 90px;
    margin-left: 10px;
    margin-top: 
}
.header h1{
    letter-spacing: 2px;
}
.header h3{
    margin-top:-10px;
    letter-spacing: 2px;
}

.nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
    
}
.nav ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
}

.nav li{
      float: left;
}


.dropdown ul li:hover{
    background-color: grey;
}

.dropdown {
  display: none;
  position: absolute;
}

.dropdown ul li{
    float: inherit;
}

.nav ul  :hover .dropdown {
    display: block;
}

.text{
    width:700px;
    margin-left: auto;
    margin-right: auto;
}

.text h1::first-letter {
  font-size: 200%;
  
}
.text nav ul{
    float: left;
    
    margin-bottom: .2em;
    padding: 0px;
    padding-bottom: 270px;
    margin-right: 10px;
    list-style-type: none;
    
}

.text nav ul li{
    border: 2px solid black;
    margin-bottom: .5em;
    background-color: orange;
    width:180px;
    text-align: center;
}

.text nav ul li a {
 text-decoration: none;
  display: block;
  text-align: center;
  padding: 14px 60px;
color: black;
}
.text ul li a:hover{
color: green;
}




footer{
    
  clear: both;
    border:2px solid black;
    background-image: linear-gradient(to left,white,orange,black);

}


#link p a {
    color:orange;
}

